<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body>
    <%- include('header.ejs') %>  

    <main class=" max-w-xl mx-auto mb-10 flex items-center flex-col">
        

        <table class=" ">
            <thead class="">
                <tr class="">
                    <th class="bg-gray-400">ID</th>
                    <th class="bg-gray-300">Nome</th>
                    <th class="bg-gray-200">Ações</th>
                </tr>
            </thead>
    
            <tbody>
                <% users.forEach( user =>{ %>

                    <tr>
                        <th class="bg-gray-300 border-b-2"><%= user.id_usuario %></th>
                        <th class=" p-1 bg-gray-100 border-b-2 " ><%= user.nome %></th>
                        <th class="flex border-b-2" >
                            <a class="bg-green-200 rounded p-1 gap-1 m-1" href="/ver/<%= user.id_usuario %>">Ver</a>
                            <a class="bg-yellow-400 rounded p-1 gap-1 m-1" href="/editar/<%= user.id_usuario %>">Editar</a>
                            <form action="/deletar/<%= user.id_usuario%>?_method=DELETE" method="POST">
                                <button class="bg-red-300 rounded p-1 gap-1 m-1" type="submit">Excluir</button>
                            </form>
                        </th>
                       
                    </tr>
                   
                <% }) %> 
            </tbody>
        </table>
    </main>

    <footer class="flex gap-1 ml-4">
        <% for (let nrPagina = 1; nrPagina <= totalPagina; nrPagina++){ %>
            <div ><a class="bg-green-400 px-1 py-px " href="?page=<%= nrPagina %>"><%= nrPagina %></a></div>
        <% } %>
    </footer>
</body>
</html>